<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoToEsig"
        tools:targetApi="31">

        <!-- LoginActivity será la actividad principal -->
        <activity
            android:name="com.example.gotoesig.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name="com.example.gotoesig.MainActivity"
            android:exported="true" />

        <!-- SignUpActivity -->
        <activity
            android:name="com.example.gotoesig.ui.login.SignUpActivity"
            android:exported="true" />

        <!-- AddTrajetActivity -->
        <activity
            android:name="com.example.gotoesig.ui.AddTrajetActivity"
            android:exported="true" />

        <!-- ProfileActivity -->
        <activity
            android:name="com.example.gotoesig.ui.ProfileActivity"
            android:exported="true" />

        <!-- SearchActivity -->
        <activity
            android:name="com.example.gotoesig.ui.SearchActivity"
            android:exported="true" />

        <!-- StatisticsActivity -->
        <activity
            android:name="com.example.gotoesig.ui.StatisticsActivity"
            android:exported="true" />

        <!-- TrajetsActivity -->
        <activity
            android:name="com.example.gotoesig.ui.TrajetsActivity"
            android:exported="true" />

    </application>

</manifest>
